spec:
  customContainerImages:
    watcherAPIImage: {{ _registry_url }}/openstack-watcher-api:{{ _tag }}
    watcherApplierImage: {{ _registry_url }}/openstack-watcher-applier:{{ _tag }}
    watcherDecisionEngineImage: {{ _registry_url }}/openstack-watcher-decision-engine:{{ _tag }}
